*{
    box-sizing: border-box;
}

.nav{
    display: flex;
    width: 974px;
    height: 36px;
    position: absolute;
    top: 85px;
    left: 185px;
    background-color: crimson;
}
.nav li{
    width:103px;
    border: 1px solid blue;
}

#search{
    width:150px;
}

main,
section,
footer{
    display: block;
    border: 1px solid goldenrod;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 538px 200px;
    grid-gap: 2px;
}

main{
    grid-column: 1/ span 4;
}

footer{
    height: 90px;
    margin: 0px 185px;
}